/*section1*/
.main{
    display: flex;
}
.d_1{
    width: 40vw;
}
.d_2{
    width: 60%;   
}
.d_3{
    font-size: 40px;
}
.d_4{
    display: flex;
}
.d_4 hr{
    width: 70%;
}
.d_5{
    display: flex;
}
.d_5 hr{
    width: 70%;
}
.d_41{
width: 400px;
padding: 20 0 20px;
}

/*section2*/
.section2{
    display: flex;
    margin-top: 80px;
    height: 100vh;
    justify-content: space-between;
}
.toutes_les_solutions{
    background-color: var(--clr-2);
    color: var(--clr-4);
    width: 33.33vw;
    padding: 20px;
}
.toutes_les_solutions :nth-child(1){
    font-size: 50px;
    width: 200px;
    margin-left: 50px;
    margin-top: 50px;
}
.toutes_les_solutions :nth-child(2){
    margin-top: 350px;
    width: 80%;
    font-size: 25px;
    margin-left: 50px;
}
.btn_sec_2{
    font-size: 25px;
    margin-top: 90px;
    margin-left: 50px;
    background-color: transparent;
    color: var(--clr-4);
    border: 1px solid;
    padding: 15px;
    border-radius: 25px;
    transition: color 2s;
}

.btn_sec_2:hover{
    background-color: var(--clr-4);
    color: var(--clr-3);
    cursor: pointer;
}

.sur_demande{
    background-image: url(/img/img_home/1611761434-perseat2.jpg);  
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    background-size: 150%;
    width: 33.33vw;   
    padding: 20px;
}
.sur_demande p{
    color: var(--clr-4);
    font-size: 30px;
    width: 80%;
}
.sur_demande :nth-child(1){
    margin-top: 550px;
    font-size: 50px;  
}

.vols_partages{
    background-image: url(/img/img_home/capture.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 33.33vw;
    color: var(--clr-4);
    padding: 20px;
    font-size: 30px;
}
.vols_partages p{
    width: 70%;
}
.vols_partages :nth-child(1){
    margin-top: 550px;
    font-size: 50px;
}

/*section3*/
.sec_3{
    margin: 0  auto ;
    width: 80vw;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.sec3, .div_r_s3_1{
    display: flex;
    flex-wrap: wrap;
}
.div_l_s3{
    width: 900px;
    height: 900px;
    padding: 10px;
}
.div_l_s3 p{
    font-size: 30px;
    margin-bottom: 30px;
}
.div_l_s3 img{
    width: 100%;
    border-bottom-right-radius: 30px;
}
.div_r_s3{
    margin-top: 95px;
    margin-left: 20px;

}

.r_s3_bar,
.r_s3_ib, 
.r_s3_can, 
.r_s3_pa{
    width: 300px;
    height: 300px;
    border-bottom: 1px solid rgb(98, 97, 97); 
    border-bottom-right-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.r_s3_bar :nth-child(1),
.r_s3_ib :nth-child(1), 
.r_s3_can :nth-child(1), 
.r_s3_pa :nth-child(1){
    margin-top: 10px;
    font-size: 30px;
}
.r_s3_bar :nth-child(2),
.r_s3_ib :nth-child(2), 
.r_s3_can :nth-child(2), 
.r_s3_pa :nth-child(2){
    margin-top: 55%;
    font-size: 20px;
    
}

/*section4*/
/*section5*/
/*section6*/
/*section7*/