/*section1*/
.main{
    display: flex;
}
.d_1{
    width: 40vw;
}
.d_2{
    width: 60%;   
}
.d_3{
    font-size: 40px;
}
.d_4{
    display: flex;
}
.d_4 hr{
    width: 70%;
}
.d_5{
    display: flex;
}
.d_5 hr{
    width: 70%;
}
.d_41{
width: 400px;
padding: 20 0 20px;
}

/*section2*/
.section2{
    display: flex;
    margin-top: 80px;
    height: 100vh;
    justify-content: space-between;
}
.toutes_les_solutions{
    background-color: var(--clr-2);
    color: var(--clr-4);
    width: 33vw;
    padding: 20px;
}
.toutes_les_solutions :nth-child(1){
    font-size: 50px;
    width: 200px;
    margin-left: 50px;
    margin-top: 50px;
}
.toutes_les_solutions :nth-child(2){
    margin-top: 350px;
    width: 80%;
    font-size: 25px;
    margin-left: 50px;
}
.btn_sec_2{
    font-size: 25px;
    margin-top: 90px;
    margin-left: 50px;
    background-color: transparent;
    color: #fff;
    border: 1px solid;
    padding: 15px;
    border-radius: 25px;
}

.sur_demande{
    background-image: url(/img/img_home/1611761434-perseat2.jpg);  
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    background-size: 150%;
    width: 33vw;   
    padding: 20px;
}
.sur_demande p{
    color: var(--clr-4);
    font-size: 30px;
}

.vols_partages{
    background-image: url(/img/img_home/capture.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 33vw;
    color: var(--clr-4);
    padding: 20px;

}
/*section3*/
/*section4*/
/*section5*/
/*section6*/
/*section7*/